body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.btn-login {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  height: 38px !important;
}
